<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>question_1</title>
    </head>
    <body>
        <form method="post">
            <label for="title">How energetic are you feeling for this activity?</label>
            <br />
            <br />
            <input type="button" value="Answer 1" attribute="__">
            <br />
            <input type="button" value="Answer 2" attribute="__">
            <br />
            <input type="button" value="Answer 3" attribute="__">
            <br />
            <br />
            <input type="submit" value="Submit!">
        </form>
    </body>
</html>